[Model]
init = "Init"
# next = "Next"
invariants = ["Inv", "AlwaysEvenInvariant"]
tests = ["ExTest", "ExFail"]

[Config]
# location for the generated trace files
traces_dir = "modelator/samples/traces/HelloFull"

[Apalache]
# the name of an operator that initializes CONSTANTS, default: None
# cinit = "CInit"

# configuration file in TLC format
# config = "path/to/config.cfg"

# maximal number of Next steps; default: 10
length = 100

# do not stop on first error, but produce up to a given number of counterexamples (fine tune with --view), default: 1
# max_error = 5

# do not check for deadlocks; default: false
# no_deadlock = false

# the state view to use with --max-error=n, default: transition index
view = "View"
