[Model]
# name = "HelloFull"
model_path = "modelator/samples/HelloFull.tla"
init = "Init"
# next = "Next"
invariants = ["Inv", "AlwaysEvenInvariant"]
desired_states = ["ExTest", "ExFail"]

[Config]
check_deadlock = "FALSE"
length = 100 # called depth in TLC
traces_dir = "modelator/samples/traces/HelloFull"
